*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

h1,h2,h3,h4,h5,p{
    font-size: inherit;
}

input,button{
    font-family: inherit;
    font-size: inherit;
    border: none;
    background-color: transparent;
}

input:focus,button:focus{
    outline: none;
}

ul,li{
    list-style: none;
}

a:link, a:active, a:hover,a:visited{
    text-decoration: none;
    color:inherit;
}

body{
    
}
